<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGHB2kXtgVX_0vI87lkjHZOt3C2lgzGAc</string>
	<key>GCM_SENDER_ID</key>
	<string>596810477978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.InkaShev777.Messanger</string>
	<key>PROJECT_ID</key>
	<string>messanger-65c7c</string>
	<key>STORAGE_BUCKET</key>
	<string>messanger-65c7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596810477978:ios:653d43bf50b0d1b01b0a23</string>
</dict>
</plist>